.inputsStyle {
    margin: 3px;
    height: 20px;
    width: 100px;
    text-align: center;
}

/* switch btn things */

.container--switchBtn {
    background-color: red;
    display: inline-block;
    float: right;
}

#switchTypeBtn {
    height: 50px;
    width: 120px;
    font-size: 20px;
    font-weight: 300;
}

/* added numbers things */

.container--addNumbersByHand {
    background-color: royalblue;
    display: inline-flex;
    margin: 10px 10px 10px 0px;
}

.addNumbersByHandStyle {
    padding: 8px;
}

.addNumbersByHandStyle:focus {
    background-color: snow;
}

/* roll things */

.container--rollNumbersContainer {
    padding: 0px;
    background-color: salmon;
    display: flex;
    margin: 5px 0px;
}

.rollNumbersContainerWithLabel  {
    background-color: sienna;
    padding: 5px;
    display: inline-block;
    margin-left: 40px;
}

.rollContainer {
    padding: 5px;
    background-color: seagreen;
    height: 20px;
    width: 100px;
    text-align: center;
}

#rollNumberBtn {
    height: 80px;
    width: 80px;
    font-weight: 600;
}

/* calculate buttons  */
.container--calculateBtns {
    display: flex;
    justify-content: space-around;
}

.calculateBtns__calculateAddedNumbers {
    background-color: steelblue;
    display: inline-flex;
    margin-right: 20px;
}

.calculateBtns__randomNumbersContainer {
    background-color: steelblue;
    display: inline-block;
}

.calculateBtn {
    font-size: 40px;
    padding: 5px;
}


/* results things */
.container--results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: yellowgreen;
    margin: 20px 0px;
}

.container--result {
    font-size: 20px;
    background-color: rgb(195, 196, 194);
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid black; 
     
}
   
.container--result__result {
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    color: rgb(165, 24, 90);
}
   
.container--result__resultSmall {
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    color: rgb(42, 111, 238);
}